@import "tailwindcss";
@import "./tailwind-theme.css";

/* Shadcn UI Related */
@import "./shadcn-ui-theme.css";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

/* View Transitions */
@supports (view-transition-name: none) {
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
}
